h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

html,
body,
ul {
  margin: 0;
  padding: 0; }

body {
  background-color: #e5e5e5; }

ul,
li {
  list-style: none; }

.link,
.link:visited {
  text-decoration: none; }

.header {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1600px;
  height: 800px;
  background-color: #2c2c2c;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px; }
  .header__wrapper {
    width: 1070px; }
  .header__nav {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 22px; }
  .header__inner-wrapper {
    margin-top: 163px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .nav__logo {
    background-image: url("../images/logo/dia-logo.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 45px;
    height: 25px; }
  .nav__item {
    margin-right: 64px; }
    .nav__item:last-child {
      margin-right: 0; }
  .nav__link {
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    font-weight: bold;
    line-height: 150%;
    color: #fff;
    display: block;
    position: relative;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
    .nav__link-underline::after, .nav__link:hover::after {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      bottom: -8px;
      height: 1px;
      background: #2060f6;
      border-radius: 4px; }

.strategic__heading {
  font-family: "Poppins", sans-serif;
  font-size: 64px;
  font-weight: 600;
  line-height: 68px;
  color: #fff;
  width: 490px; }

.strategic__text {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 150%;
  color: #fff;
  width: 362px; }

.strategic__button {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: normal;
  line-height: 22px;
  color: #fff;
  text-align: center;
  background-color: #2060f6;
  border-radius: 8px;
  width: 226px;
  height: 50px;
  margin-top: 83px;
  border: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  .strategic__button:hover {
    -webkit-transform: scale(1.025);
            transform: scale(1.025);
    background-color: #fff;
    color: #2060f6; }

.slider {
  position: absolute;
  width: 687px;
  height: 680px;
  overflow: hidden;
  bottom: 0;
  right: 0;
  border-radius: 30px 0px; }
  .slider__intro {
    position: absolute;
    display: inline-block;
    bottom: 55px;
    left: 144px; }
  .slider .intro__heading {
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    font-weight: bold;
    line-height: 19px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 0;
    margin-bottom: 8px; }
  .slider .intro__text {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 140%;
    color: #fff;
    margin: 0; }
  .slider__buttons {
    position: absolute;
    display: inline-block;
    background-image: url("../images/slider/Arrow buttons.svg");
    width: 32px;
    height: 32px;
    bottom: 60px;
    left: 48px; }
  .slider .right {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    margin-left: 8px;
    left: 88px; }

.slider img {
  margin: 0;
  padding: 0;
  width: 687px;
  height: 687px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 30px 0px; }

.who-we-are {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 504px; }
  .who-we-are__heading {
    font-family: "Poppins", sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 150%;
    color: #253757; }
  .who-we-are__text {
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 150%;
    color: #6C788b;
    width: 754px; }

/*# sourceMappingURL=main.css.map */
